

div.formContainer {
	border: 1px silver solid;
    padding: 5px;
    margin-top: 1em;
}
.formContainer fieldset {
	border: 0px;
}
.formContainer legend {
	font-weight: bold;
}
.formContainer div.row {
    width: 100%;
    clear: both;
	padding: 5px;
}
.formContainer div.row label {
    float: left;
    width: 120px;
    text-align: right;
    padding-right: 5px;
}
.formContainer div.btnrow {
    padding-left: 130px;
}