body {
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

div#navigation {
	text-align: center;
	font-size: small;
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	border-top: 1px solid #999;
	background: #fff;
}

div#table_of_content {
	padding-top: 80px;
}

.active a,
.active a:link,
.active a:visited,
.active a:hover,
.active a:active {
	font-weight: bold;
}

.active {
	border-bottom: 1px solid grey;
}