
#pageSidebar
{
    border-left: 1px solid #ccc;
    float:right;
    width:250px;
    padding-left: 5px;
}

#componentsContainer
{
	margin-right: 275px;
}

.sortableComponent .componentHeader .componentHeaderCmd
{
	float: right;

}

.sortableComponent .componentEditor
{
	padding: 5px;
	background: #f0f0f0;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#loading
{
	float: right;
}

.sortHelper
{
	border: 1px dashed #666;
	width: auto !important;
}


#pageSidebar .pluginCategory
{
	border-bottom: 1px solid #96BB7A;
	padding-bottom: 0;
	text-align: right;
	font-size: small;
	font-weight: bold;
}

#pageSidebar ul.pluginList
{
	margin-left: 3px;
	padding: 0;
	list-style-type: none;
	margin-left: 5px;
}

#pageSidebar ul.pluginList li
{
	border-bottom: 1px solid #EDF1E3;
	padding-right: 35px;
}

#pageSidebar ul.pluginList li a
{
	display: block;
	padding: 3px 12px 3px 8px;
}