.globalDesc
{
    font-weight : bold;
    color : #080;
}

.sectionDesc
{
    font-weight : bold;
    font-size : 9pt;
    font-style : italic;
    color : #777;
}

.addInfos
{
    font-weight : bold;
    color : #544;
    background-color: #fdd;
    border: 1px solid #888888;
    margin-bottom: 25px;
}

.infoTitle
{
    color : #a00;
    display : block;
}