.sortableComponent
{
	margin: 15px 0;
}

.sortableComponent .componentHeader
{
	color: #669933;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    background-color: #EDF1E3;
    border: 1px #96BB7A solid;
}

.sortableComponent .componentContent
{
	padding: 5px;
	background: #FFF;
}

.captionImg
{
	padding: 5px;
	text-align: center;
}

.captionImg img
{
	border: 1px solid #ccc;
}

.captionImg .caption
{
	text-align: center;
	font-size: small;
}


.componentRssItem
{
	margin: 5px;
}

.componentRssItemHeader
{
	border-bottom: 1px solid #ccc;
}

.componentRssItemContent
{
	padding: 2px;
}

.slideNav
{
	font-size: small;
	text-align: center;
	padding: 3px;
	border: 1px solid #ededed; 
}

.slideNav .prevSlide
{
	float: left;
	width: 33%;
	text-align: left;
}

.slideNav .nextSlide
{
	float: right;
	width: 33%;
	text-align: right;
}

.slideNav .navDisabled a
{
	color: #ccc;
}