td
{
    text-align: center;
    white-space: nowrap;
}

th
{
    text-align: center;
}

td.warning, span.warning
{
    color: green;
}

td.bigCell, td.biggerCell, td.biggestCell
{
    font-weight: bold;
}

td.biggerCell
{
    font-size: large;
}

td.biggestCell
{
    font-size: x-large;
}

td.learnpathLabel, td.moduleLabel, th.trackingLabel, td.trackingValue
{
    text-align: left;
    white-space: normal;
}

table.courseTrackingSummary
{
    border-spacing: 10px 0;
}