#netquiz body
{
	font-family:Arial;
	font-size:10pt;
}
#netquiz font.blue
{
	color: #836ae9;
}
#netquiz font.red
{
	color: Red;
}
#netquiz font.small_black
{
	font-size:8pt;
}
#netquiz font.small_gray
{
	font-size:8pt;
	color:#828387;
}
#netquiz font.list_header
{
	font-weight:bold;
}
#netquiz font.section_header
{
	font-size:12pt;
}
#netquiz font.disabled
{
	color:#828387;
}
#netquiz a.small
{
	font-size:8pt;
	color:#3f3089;
	text-decoration:none;
}
#netquiz a.small:hover
{
	font-size:8pt;
	color:#3f3089;
	text-decoration:underline;
}
#netquiz a
{
	color:#3f3089;
	text-decoration:none;
}
#netquiz a:hover
{
	color:#3f3089;
	text-decoration:underline;
}

#netquiz TD.InputCell
{
	background-color:#F5F5F5;
	border:solid 1px #9D9D9B;
	padding: 5px;
}
#netquiz .ContentCell
{
	background-color:#F5F5F5;
	border-left:solid 1px #9D9D9B;
	border-bottom:solid 1px #9D9D9B;
	border-right:solid 1px #9D9D9B;
}
#netquiz TD.WarningCell
{
	background-color:#E6E433;
}
#netquiz TD.Tab
{
	border:solid 1px #9D9D9B;
}
#netquiz TD.SelectedTab
{
	background-color:#F5F5F5;
	border-top:solid 1px #9D9D9B;
	border-right:solid 1px #9D9D9B;
	border-left:solid 1px #9D9D9B;
}
#netquiz TD.SpacerTab
{
	border-bottom:solid 1px #9D9D9B;
}
#netquiz TD.ContentColWB
{
	border-right:solid 1px #9D9D9B;
	border-top:solid 1px #9D9D9B;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
}
#netquiz TD.ContentColWoB
{
	border-top:solid 1px #9D9D9B;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
}
#netquiz TD.DetailBand
{
	width:17px;
	background-color:#3B3453;
}
#netquiz TR.ContentRow
{
	cursor:pointer;
}
#netquiz .Retro
{
	display:inline;
	text-decoration: none;
	font-weight: normal;
	font-size: 10pt;
}
#netquiz .RetroEtiquette
{
	display:inline;
	text-decoration: none;
	font-weight: normal;
	font-size: 10pt;
	color: #5c656f;
}
#netquiz .Lettre
{
	display:inline;
	text-decoration: none;
	font-weight: normal;
	font-size: 10pt;
	color: #5c656f;
}
#netquiz .Choix
{
	display:inline;
	text-decoration: none;
	font-weight: normal;
	font-size: 10pt;
}
#netquiz Body.Detail
{
	margin:0px;
	font-family:Arial;
	font-size:10pt;
}
#netquiz Div.DetailHeader
{
	background-color:#CACACA;
	border-bottom:black solid 1px;
}
#netquiz Div.DetailList
{
	border-bottom:#CCCCCC solid 1px;
	padding-left:37px;
	padding-top:5px;
}
#netquiz Font.BRep
{
	display:inline;
	font-size:10pt;
	font-weight:normal;	
	color:Green;
}
#netquiz Font.MRep
{
	display:inline;
	font-size:10pt;
	font-weight:normal;	
	color:Red;
}
#netquiz P.ErrorMsg
{
	display:inline;
	color:#CB0E0E;
}
#netquiz .LineA
{
	background: url(../images/linea1.gif) top left repeat-x;
}
#netquiz .LineB
{
	background: url(../images/linea2.gif) top left repeat-x;
}
#netquiz .Avertissement
{
	font-size: 8pt;
	color: #666666;
	padding-left:2px;
}