.post{
    border: 1px silver solid;
    margin-top: 1em;
    padding: 5px;
}
.postTitle{
}
.postInfo{
    font-size: 50%;
}
.postChapo{
    font-style: italic;
}
.postContents{
}
.postComment{
    border: 1px silver solid;
    margin-top: 1em;
    padding: 5px;
}